<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{site.name}} | Independent publishers of thoughtful writing</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p class="text">{{site.name}} is a small publisher focused on thoughtful fiction, exploratory poetry, and creative non-fiction.</p>
      </div>

      <div class="footer-col  footer-col-2">
          &copy; {{site.company}}
      </div>

      <div class="footer-col  footer-col-3">
          <ul class="contact-list">
            <li><a href="/editors">Editors</a> | <a href="/conduct">Coduct</a></li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a target="_blank" href="https://twitter.com/Hybrid_Ink"><img src="/images/contact/twitter.svg" class="icon" /> @HYBRID_Ink</a></li>
            <li><a target="_blank" href="https://writing.exchange/@hybrid"><img src="/images/contact/masto.svg" class="icon" /> @hybrid@writing.exchange</a></li>
          </ul>
      </div>
    </div>

  </div>

</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113655057-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113655057-1');
</script>
