<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p class="text">{{ site.description }}</p>
      </div>

      <div class="footer-col  footer-col-2">
        Find us on [publisher]!<br />
        <a href="https://twitter.com/Hybrid_Ink">@Hybrid_Ink</a>
      </div>

      <div class="footer-col  footer-col-3">
          <ul class="contact-list">
            <li>Editor:<br />Madison "Makyo" Scott-Clary</li>
            <li>Contact:<br /><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
      </div>
    </div>

  </div>

</footer>
