<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title|strip_html }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css?last-modified=2017-04-03">
    <link rel="canonical" href="{{ page.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <script type="text/javascript">
    function toggleOther(e, id) {
        var el = document.getElementById(id);
        if (e.target.checked) {
            el.checked = false;
            el.parentNode.classList.remove('active');
            e.target.parentNode.classList.add('active');
        } else {
            e.target.parentNode.classList.remove('active');
        }
    }
    </script>
</head>
