<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/" title="{{site.title}}"><img src="/images/logo.png" alt="{{site.title}}" /><h1>{{site.brand}}<small>Independent publishers of thoughtful writing</small></h1></a>

        <nav class="site-nav">
            <ul>
                <li class="page-link"><a href="/catalog">Catalog</li>
                <li class="page-link"><a href="/submit">Submissions</a></li>
            </ul>
        </nav>

    </div>

</header>
