<hr />

<h2>Submitting to {{site.brand}}</h2>

<p>Please submit via email to <a href="mailto:hybrid+submit@hybrid.ink">hybrid+submit@hybrid.ink</a>.</p>

<p>Include your name and what you are submitting for in the subject line in the format <code>[Submission type] Submission name (for X) by Author</code>. For example, Jace Doe is submitting their story "Something Awesome," to the <em>Great Stories</em> anthology, they would use the subject line <code>[Story] Something Awesome (for Great Stories) by Jace Doe</code>.</p>

<p>Alternately, for longer work queries, if Anna Doe is submitting a query for her novel <em>Holy Crap, Birds!</em>, she would use the subject line <code>[Query] Holy Crap, Birds! by Anna Doe</code>.</p>

<p>Please submit the entire short work, <em>or</em> the first 10,000 words or so (about twenty pages) for longer work queries. If your work is longer than 10,000 words, please also submit a synopsis. We will accept the following formats: Microsoft Word (.doc, .docx), Open Document Format/LibreOffice/Calligra Words (.odt), Markdown, TeX of various flavors. We can also accept Google Docs, but would prefer a standalone file.</p>

<p>If you are submitting to a call for submissions, please be sure to note the following in your submission email:</p>

<ul>
    <li>Whether or not you are submitting simultaneously to other markets</li>
    <li>Whether or not your submission has already been published elsewhere</li>
    <li>Whether or not you are submitting multiple submissions to the call</li>
</ul>

<p>We appreciate you following these guidelines, as they help all of us keep submissions organized! If you are submitting to an anthology and do not follow the email subject line guidelines, you will confuse our poor editors, those wily beasts, and we will have to coax them out of catatonia once more.</p>

<p>For published pieces we take non-exclusive print and electronic publishing rights. Bear in mind that most publications will not publish pieces that have been published in print, e-book, or on the web, so for all intents and purposes after your work is published by us it can only be marketed as a reprint. That is, while <em>we</em> accept reprints, that is hardly universal. It is up to you, the author, to decide if publishing your work in print and/or e-book formats is really what you want to do.</p>
