<hr />

<p>Please submit via email to <a href="mailto:hybrid+submit@hybrid.ink">hybrid+submit@hybrid.ink</a>.</p>

<p>Include your name and what you are submitting for in the subject line in the format <code>[Submission type] [Submission name (for X)] by Author</code>. For example, Jace Doe is submitting their story "Something Awesome," to the <em>Great Stories</em> anthology, they would use the subject line <code>[Story] [Something Awesome (for Great Stories)] by Jace Doe</code>. Alternately, if Anna Doe is submitting a query for her novel <em>Holy Crap, Birds!</em>, she would use the subject line <code>[Query] [Holy Crap, Birds!] by Anna Doe</code>.</p>

<p>We appreciate you following these guidelines, as they help all of us keep submissions organized!</p>
