.catalog-page {
    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .pane {
            flex: 1 1 45%;
            padding: 1rem;

            img {
                max-width: 100%;
                margin: 0 auto;
                max-height: 400px;
                display: block;
            }

            @include media-query($on-laptop) {
                max-width: none;
            }
        }
    }

    .pane {
        &.praise, &.advance-praise {
            .praise-item {
                margin-bottom: 2em;
            }
        }
        &.purchase {
            text-align: center;

            .stores {
                list-style-type: none;

                li {
                    padding: 1em;
                }
            }
        }
        .sample-chapter {
            font-size: 16pt;
            display: block;
            margin: 0.5rem auto;
            text-align: center;
        }
    }
}
