/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    height: 150px;
    float: left;

    img {
        height: 148px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    form {
        display: inline;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        display: inline-block;
        position: relative;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top:   5px dashed $text-color;
            border-right: 5px solid transparent;
            border-left:  5px solid transparent;
        }

        &.trigger {
            &:hover {
                text-decoration: none;
            }

            input {
                display: block;
                position: relative;
                margin-top: -20px;
                margin-left: -5px;
                width: 100%;
                height: 20px;
                border: 1px solid black;
                cursor: pointer;
                opacity: 0;
                z-index: 10;
                -webkit-touch-callout: none;
            }

            ul {
                display: none;
                position: absolute;
                left: -2em;
                overflow: visible;
                list-style-type: none;
                z-index: 1000;
            }

            input:checked ~ ul {
                display: block;
                padding: 1em;
                border: 1px solid $grey-color-light;
                border-top: none;
                background-color: white;
                white-space: nowrap;

                li {
                    margin-top: 0.5em;

                    &.separator {
                        border-bottom: 1px solid $grey-color-light;
                    }

                    &:first-child {
                        margin-top: 0px;
                    }

                    a {
                        color: $text-color;
                    }
                }
            }
        }
    }

    @include media-query($on-palm) {
        & {
            float: none;
        }
        .page-link {
            width: 20%;
            margin: 0 auto;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.announcement {
    font-family: $base-font-family;
    border: 1px solid #bcdff1;
    border-radius: 0.25rem;
    background-color: #d9edf7;
    color: #31708f;
    padding: 0.75em 1em;
    margin-bottom: 1em;
}

.page-content {
    padding: $spacing-unit 0;
    font-family: $body-font-family;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: $grey-color-light;
    &:nth-of-type(odd) {
        background-color: $grey-color-light + #0a0a0a;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    color: $grey-color-dark;
    &:active, &:hover, &:visited {
        color: $grey-color-dark;
    }
    display: block;
    font-size: 24px;
}

.deadline-passed {
    text-decoration: line-through;
}

.next-opening {
    color: $grey-color-dark + #666;
}

.not-yet-applicable {
    color: $grey-color-dark + #888;
}

.brand {
    font-family: $base-font-family;
    text-transform: uppercase;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
