/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    max-height: 150px;
    float: left;

    img {
        max-height: 148px;
    }

    h1 {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    form {
        display: inline;
    }

    .page-link {
        a, a:visited, a:active, a:hover {
            color: $text-color;
        }
        line-height: $base-line-height;
        display: inline-block;
        position: relative;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        & {
            float: none;
        }
        .page-link {
            text-align: center;
            width: 40%;
            margin: 0 auto;
        }
    }
}

/**
 * Hero
 */
.hero {
    background-color: #eee;
    color: #111;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14pt;

    h2 {
        font-size: 30pt;
    }
}

/**
 * Cols
 */
.col-60 {
    vertical-align: top;
    width: 59%;
    display: inline-block;

    @include media-query($on-palm) {
        & {
            display: block;
            width: 100%;
        }
    }
}
.col-40 {
    vertical-align: top;
    width: 39%;
    display: inline-block;

    @include media-query($on-palm) {
        & {
            display: block;
            width: 100%;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.announcement {
    font-family: $base-font-family;
    border: 1px solid #bcdff1;
    border-radius: 0.25rem;
    background-color: #d9edf7;
    color: #31708f;
    padding: 0.75em 1em;
    margin-bottom: 1em;
}

h2.announcement {
    display: block;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.page-content {
    padding: $spacing-unit 0;
    font-family: $body-font-family;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: $grey-color-light;
    &:nth-of-type(odd) {
        background-color: $grey-color-light + #0a0a0a;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    color: $grey-color-dark;
    &:active, &:hover, &:visited {
        color: $grey-color-dark;
    }
    display: block;
    font-size: 24px;
}

.brand {
    font-family: $base-font-family;
}

.upper {
    text-transform: uppercase;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .footnotes {
        margin-top: $spacing-unit;
        border-top: 1px solid $grey-color-light;
        font-size: 10pt;
    }
}
